STROLLERS_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vSnLLBcMfWZY_iWk2GERRwiDX8WoTgVf93R__8QYedRgH4i1ySmgoU383ppBPifpD_DcZgQ3gU7RUoz/pub?gid=0&single=true&output=csv

SUPABASE_URL=
SUPABASE_SECRET_KEY=

# Optional: name of the tabs in your spreadsheet
SHEETS_TAB_STROLLERS=strollers
