STROLLERS_CSV_URL=

SUPABASE_URL=
SUPABASE_SECRET_KEY=

HOTMART_CLIENT_ID=
HOTMART_CLIENT_SECRET=
HOTMART_BASE_URL=https://developers.hotmart.com

# Use a long random string
AUTH_SECRET=

# Optional: name of the tabs in your spreadsheet
SHEETS_TAB_STROLLERS=strollers
