STROLLERS_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vSnLLBcMfWZY_iWk2GERRwiDX8WoTgVf93R__8QYedRgH4i1ySmgoU383ppBPifpD_DcZgQ3gU7RUoz/pub?gid=0&single=true&output=csv

SUPABASE_URL=
SUPABASE_SECRET_KEY=

HOTMART_CLIENT_ID=
HOTMART_CLIENT_SECRET=
HOTMART_BASE_URL=https://developers.hotmart.com

# Use a long random string
AUTH_SECRET=

# Optional: name of the tabs in your spreadsheet
SHEETS_TAB_STROLLERS=strollers
